<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UpButtonKey</key>
	<dict>
		<key>characters</key>
		<string>\\Uf700</string>
		<key>charactersIgnoringModifiers</key>
		<string>\\Uf700</string>
		<key>keyCode</key>
		<integer>126</integer>
		<key>modifierFlags</key>
		<integer>0</integer>
	</dict>
	<key>DownButtonKey</key>
	<dict>
		<key>characters</key>
		<string>\\Uf701</string>
		<key>charactersIgnoringModifiers</key>
		<string>\\Uf701</string>
		<key>keyCode</key>
		<integer>125</integer>
		<key>modifierFlags</key>
		<integer>0</integer>
	</dict>
	<key>LeftButtonKey</key>
	<dict>
		<key>characters</key>
		<string>\\Uf702</string>
		<key>charactersIgnoringModifiers</key>
		<string>\\Uf702</string>
		<key>keyCode</key>
		<integer>123</integer>
		<key>modifierFlags</key>
		<integer>0</integer>
	</dict>
	<key>RightButtonKey</key>
	<dict>
		<key>characters</key>
		<string>\\Uf703</string>
		<key>charactersIgnoringModifiers</key>
		<string>\\Uf703</string>
		<key>keyCode</key>
		<integer>124</integer>
		<key>modifierFlags</key>
		<integer>0</integer>
	</dict>
	<key>AButtonKey</key>
	<dict>
		<key>characters</key>
		<string>s</string>
		<key>charactersIgnoringModifiers</key>
		<string>s</string>
		<key>keyCode</key>
		<integer>1</integer>
		<key>modifierFlags</key>
		<integer>0</integer>
	</dict>
	<key>BButtonKey</key>
	<dict>
		<key>characters</key>
		<string>a</string>
		<key>charactersIgnoringModifiers</key>
		<string>a</string>
		<key>keyCode</key>
		<integer>0</integer>
		<key>modifierFlags</key>
		<integer>0</integer>
	</dict>
	<key>StartButtonKey</key>
	<dict>
		<key>characters</key>
		<string>
</string>
		<key>charactersIgnoringModifiers</key>
		<string>
</string>
		<key>keyCode</key>
		<integer>36</integer>
		<key>modifierFlags</key>
		<integer>0</integer>
	</dict>
	<key>SelectButtonKey</key>
	<dict>
		<key>characters</key>
		<integer>0</integer>
		<key>charactersIgnoringModifiers</key>
		<integer>0</integer>
		<key>keyCode</key>
		<integer>56</integer>
		<key>modifierFlags</key>
		<integer>131072</integer>
	</dict>
</dict>
</plist>
